body {
    color: #666666;
}

.attraction-inform {
    display: flex;
    width: 1200px;
    justify-content: center;

    margin: 20px auto 20px auto;
}

.slideshow {
    position: relative;
    width: 50%;
    max-width: 600px;

    margin: 0 auto 0 auto;
    align-items: center;
}

.image-wrapper{
    position: relative;
}

/* .slideshow img {
    width: 100%;
    display: block;
} */
#attraction-image {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: #8d8b8b2b;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px
}

.indicators{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 0;
    width: 100%;
    max-width: 600px;
    z-index: 10;

    
    height: 4px !important;
}

.indicator {
    flex: 1; /* 讓水平線自動均分 */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background-color: black;
}

/* 地點介紹及訂購行程區塊 */
.info {
    width: 50%;
    max-width: 600px;

    padding: 16px;
}

.booking {
    max-width: 600px;
    width: 100%;
    height: 302px;
    border: 5px solid #E8E8E8;
    margin-top: 24px;
    /* color: #666666 */
    background-color: #E8E8E8;
    padding: 10px;
    
}

.topic1 {
   width: 560px;
   height: 22px;
   font-size: 16px;
   font-weight: 700;
   color: #666666;

   margin-bottom: 15px;
}

.topic2 {
   width: 560px;
   height: 24px;
   font-size: 16px;
   font-weight: 400;
   color: #666666;

   margin-bottom: 15px;
}

.booking-date {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.booking-date label {
    margin-right: 8px;
    white-space: nowrap;
}

.booking-date input[type="date"] {
    width: 193px;
    height: 35px;
    padding: 6px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-size: 16px;

    background-image: url("/static/images/icon_calendar_.png"); background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.time {
    font-weight: 700;
}

.time-select {
    display: flex;
    gap: 16px;
    margin: 12px 0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    text-align: center;
}

/* 隱藏原生 radio */
.time-select input[type="radio"] {
  display: none;
}

.time-select label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 外圈（白色包覆） */
.custom-radio {
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #FFFFFF; /* transparent */
  position: relative;
}

/* 藍色實心圓 */
.time-select input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.price {
    font-size: 16px;
    font-weight: 700;

    align-items: center;
    margin-bottom: 15px;
}

.prices{
    font-size: 16px;
    font-weight: 400;
}

.booking-btn {
    color:#FFFFFF;
    background-color: #448899;
    border-radius: 5px;
    border: 5px solid #448899;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 19px;
    height: 36px;
    width: 154px;

    text-align: center;
}