body {
    margin: 0;
    color: #666666;
    overflow-x: hidden; /* 防止橫向爆版 */
    overflow-y: auto;
}
/*===== Header ===== */
.header{
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;

    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    z-index: 1000;

}
.header__container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
    color:#448899; 
    font-weight: bold;
    font-size: 30px;   
}

.header__right{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 16px;
    justify-content: flex-end;
    color: #666666;
}


.attraction-inform {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;

    column-gap: 24px;
    justify-content: center;
    align-items: flex-start; /* 同高 */
    /* padding-top: 20px; */
    padding: 24px 0; /*只負責和灰線距離*/
    margin: 20px auto 0;
    /* border-bottom: 1px solid #e8e8e8; */
    padding-bottom: 40px;
}

/* 中間線 */
.section-divider {
    max-width: 1200px;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin: 40px auto;
}

/*父容器自己適應介面大小*/
.attraction-inform, .description {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*以左邊圖片作為參考*/
.slideshow {
    position: relative;
    /* width: 50%; */
    max-width: 600px;
    display: flex;
    margin-top: 8px;
}

.image-wrapper{
    position: relative;
    width: 100%;
    height: 400px;
    
    overflow: hidden;
    flex: 1;
}

#attraction-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /*固定高度，裁切不變形*/
    display: block;
    /* aspect-ratio: 16 / 9; */
    /* height: auto;  讓內容自己撐高 */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: #8d8b8b2b;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px
}

.indicators{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 0;
    width: 100%;
    max-width: 600px;
    z-index: 10;

    
    height: 4px !important;
}

.indicator {
    flex: 1; /* 讓水平線自動均分 */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background-color: black;
}

/* 地點介紹及訂購行程區塊 */
.info {
    /* width: 50%; */
    max-width: 600px;
    padding-left: 16px;
    margin-top: 0;
    box-sizing: border-box;
}

/*info裡第一個內容不要自己往下推*/
.info > :first-child {
    margin-top: 0;
}

.slideshow, .info {
    flex: 1 1 500px; /* 不管畫面多小，都設定要有500px*/
    max-width: 600px;
}

.attraction-name {
    font-size: 16px;
    font-weight: 700;
    
    margin-bottom: 5px;
    padding-top: 0;
}
.attraction-info {
    font-size: 16px;
    font-weight: 400;

    /* padding-bottom: 5px; */
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 16px;
}

.booking {
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    min-height: 302px;
    height: auto; /*確保手機畫面可以撐開*/
    border: 5px solid #E8E8E8;
    margin-top: 24px;
    /* color: #666666 */
    background-color: #E8E8E8;
    padding: 16px;
    
}

.topic1 {
   /* width: 560px;
   height: 22px; */
   font-size: 16px;
   font-weight: 700;
   color: #666666;

   margin-bottom: 15px;
}

.topic2 {
   /* width: 560px;
   height: 24px; */
   font-size: 16px;
   font-weight: 400;
   color: #666666;
   line-height: 1.5;
   word-break: break-word;

   margin-bottom: 15px;
}
.topic1, .topic2 {
    width: 100%;
}

.booking-label {
    width: 80px;        /* 對齊線 */
    font-weight: 700;
    font-size: 16px;
    margin-right: 12px; /*統一右邊有一定間距*/
    flex-shrink: 0;
}

.booking-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.booking-row {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    font-size: 16px;
}

.booking-row input[type="date"] {
    width: 193px;
    height: 35px;
    padding: 6px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-size: 16px;

    background-image: url("/static/images/icon_calendar_.png"); background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    align-self: center;

    appearance: none;
    -webkit-appearance: none;
}

.booking-row input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.date-hint {
    position: absolute;
    left: 110px;
    pointer-events: none;
    font-size: 14px;
    color: #666666;
    margin-left: 8px;
    white-space: nowrap;
}


.time-select {
    display: flex;
    gap: 16px;
    /* margin: 10px 0; */
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

    text-align: center;
}

/* 隱藏原生 radio */
.time-select input[type="radio"] {
  display: none;
}

.time-select label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 外圈（白色包覆） */
.custom-radio {
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #FFFFFF; /* transparent */
  position: relative;
  font-weight: 400;
}

/* 藍色實心圓 */
.time-select input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.price {
    /* display: flex; */
    font-size: 16px;
    font-weight: 400;

    align-items: center;
    text-align: center;
    /* margin-bottom: 20px; */
}

.booking-btn {
    color:#FFFFFF;
    background-color: #448899;
    border-radius: 5px;
    border: 5px solid #448899;
    padding: 2px 15px;
    font-weight: 400;
    font-size: 19px;
    height: 36px;
    width: 154px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.description {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: #666666;
    font-size: 16px;
    line-height: 1.8;
    padding-top: 16px;

    text-align: left;
}

.description > * {
    max-width: 1200px;
}

.description h3 {
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
}

/* footer */
.footer {
  height: 100px;
  background: #757575;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* 平板尺寸: 801~1200px */
@media (max-width: 1200px) {
  .header__logo{
    padding-left: 10px;
  }
  .attraction-inform {
    padding: 0 10px;
    margin-top: 20px;

  }
  .info {
    padding-left: 12px;
  } 
}

/* 額外添加(中)尺寸: 將booking內容改直排 */
@media (max-width: 800px) {
    .attraction-inform {
        flex-direction: column;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }

    .attraction-inform, .description, .section-divider {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .slideshow-wrapper {
        width: 100%;
    }

    .slideshow {
        flex: none;
        width: 100vw;
        max-width: none;
        margin: 0;

        /* margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw); */
    }

    .slideshow, .info {
        width: 100%;
        max-width: 100%;
    }

    .info {
        padding-left: 0;
        margin-top: 20px;
    }

    .image-wrapper, #attraction-image {
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .image-wrapper {
        /* height: 50vw; */
        aspect-ratio: 1 / 1;
    }

    .indicators {
        max-width: 100%;
    }

    .booking{
        width: 100%;
        max-width: 95%;
        height: auto;
        margin: 0 auto;
    }

    .booking-row {
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        /* align-items: flex-start; */
    }

    .booking-label {
        margin-right: 12px;
        width: auto;
        margin-bottom: 8px;
    }

    .time-select {
        flex-wrap: wrap;
    }

    .price {
        line-height: 1.5;
    }
} 


/* RWD切版 360px 手機版 */
@media (max-width: 360px) {
    .header {
        height: auto;
    }
    .header__logo {
        font-size: 25px;
        white-space: nowrap;
        padding-left: 6px;
    }
    
    .header__right{
        white-space: nowrap;
        padding-right: 10px;
        font-size: 12px;
        gap: 6px;

    }
    .attraction-inform {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .section-divider {
        margin: 24px auto;
    }

    .slideshow,
    .info {
        width: 100%;
        max-width: 100%;
    }

    .booking {
        width: 100%;
        max-width: 95%;
        height: auto;
        margin: 0 auto;
    }
    .booking-row{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .booking-label {
        width: auto;
    }
    .booking-row input[type="date"] {
        width: 100%;
    }

    .topic2 {
        font-size: 14px;
        line-height: 1.4;
    }
    .custom-line {
        width: 100%;
    }
    /* .description {
        width: 100%;
        padding: 16px;
    } */
    .description {
        padding-top: 0;
    }
} 
