.slideshow {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.slideshow img {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px
}

.indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    width: 80%;
    max-width: 540px;
    z-index: 10;
}

.indicator {
    flex: 1; /* 讓水平線自動均分 */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background-color: white;
}