.body {
    color: #666666;
}

.attraction-inform {
    display: flex;
    width: 1200px;
}

.slideshow {
    position: relative;
    width: 50%;
    max-width: 600px;
}

.image-wrapper{
    position: relative;
}

/* .slideshow img {
    width: 100%;
    display: block;
} */
#attraction-image {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: #8d8b8b2b;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px
}

.indicators{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 0;
    width: 100%;
    max-width: 600px;
    z-index: 10;

    
    height: 4px !important;
}

.indicator {
    flex: 1; /* 讓水平線自動均分 */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicator.active {
    background-color: black;
}

/* 地點介紹及訂購行程區塊 */
.info {
    width: 50%;
    max-width: 600px;
}

.booking {
    width: 340px;
    height: 300px;
    border: 5px solid #E8E8E8;
    margin-top: 24px;
    /* color: #666666 */
    background-color: #E8E8E8;
    
}

.topic1 {
   width: 560px;
   height: 22px;
   font-size: 16px;
   font-weight: 700;
   color: #666666;
}

.topic2 {
   width: 560px;
   height: 24px;
   font-size: 16px;
   font-weight: 400;
   color: #666666;
}

.booking-date {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

.booking-date label {
    margin-right: 8px;
    white-space: nowrap;
}

.booking-date input[type="date"] {
    width: 193px;
    height: 35px;
    padding: 6px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-size: 16px;
}

.time {
    font-weight: 700;
}

.time-select {
    display: flex;
    gap: 16px;
    margin: 12px 0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    text-align: center;
}

/* 隱藏原生 radio */
.time-select input[type="radio"] {
  display: none;
}

/* 外圈（白色包覆） */
.custom-radio {
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 8px;
  background-color: transparent;
  position: relative;
}

/* 藍色實心圓 */
.time-select input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.price {
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    
}

.booking-btn {
    color:#FFFFFF;
    background-color: #448899;
    border: 5px solid #448899;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 19px;

    text-align: center;
}