/* 登入modal的css*/
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 340px;
  border-radius: 6px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background: #448899;
  color: white;
  border: none;
  cursor: pointer;
}

.close-btn {
  float: right;
  cursor: pointer;
}