/* 登入modal的css*/
.hidden {
  display: none;
}

.auth-title, .login-title {
  color:rgb(102, 102, 102, 1);
  font-size: 24px;
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;

  background: white;
  padding: 20px;
  width: 340px;
  border-radius: 6px;
  text-align: center;

  box-shadow: 0px 4px 60px 0px rgba(170, 170, 170, 1)
}

/* dialog 上緣漸層 bar */
.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;

  background: linear-gradient(
    90deg,
    rgba(51, 119, 136, 1),
    rgba(102, 170, 187, 1)
  );

  border-radius: 6px 6px 0 0;
}

.modal-content input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;

  font-weight: 500;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background: #448899;
  color: white;
  border: none;
  cursor: pointer;

  font-size: 19px;
  font-weight: 400;
}

.modal-content p {
  font-size: 16px;
  font-weight: 500;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 10px;

  float: right;
  cursor: pointer;
}

.link {
  color: #448899;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* 當帳號輸入錯誤正確時，切換字 */
/* 成功 */
.message.success {
  color: #2ecc71;
}

/* 錯誤 */
.message.error {
  color: #e74c3c;
}

/* 讓 button 看起來像原本的 div */
.login {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;

  cursor: pointer;
}
