.header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;

    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    z-index: 1000;
}
.header__container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main{
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__logo{
    color:#448899; 
    font-weight: bold;
    font-size: 20px;
    
}

.header__right{
    display: flex;
    gap: 20px;
    font-size: 16px;
    justify-content: space-between;
    color: #666666
}

/* 背景101圖片設計 */
.banner{
    height: 320px;
    background-image: url("/static/images/101.png");
    background-size: cover;
    background-position: center 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.welcomeboard {
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100%;
  color: white;
}
.welcomeboard__line1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
}
.welcomeboard__line2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.searchbar {
    position: relative;
    display: flex;
    height: 46px;
    margin-top: 25px;
    align-items: center;
}

.searchbar *,
.searchbar *::before,
.searchbar *::after {
  box-sizing: border-box;
}

.search__input{
    color:#666666;
    font-weight: bold;
    font-size: 16px;
    width: 400px;
    border: none;
    padding: 0 10px;
    height: 100%;
}

/* .hidden{
      display:none
} */

.banner__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__btn{
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    height: 100%;
}

.category__popup{
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  padding:  10px;
  width: 360px;
  z-index: 20;

  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.category__popup.active{
  display: grid;
}
.category__popup div{
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  color: #000000;
}
.category__popup div:hover{
  background-color: #e8f4f5;
  /* color: black; */
}
.search__input {
  height: 46px;
  width: 300px;
}
.search__btn {
  background-color: #448899;
  height: 100%;
  width: 60px;
  border: none;
}

/* 捷運區塊 */
.mrt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 15px;
}

.mrt__list-wrapper {
  overflow: hidden;
  scroll-behavior: smooth;
  flex: 1;
}

.mrt__list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  width: max-content;
}
.mrt__arrow{
  background: none;
  border: none;
  cursor: pointer;
}
.mrt__item{
  min-width: 90px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}
/* attraction區塊 */
.attractions__grid {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.attraction-card {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}
.attraction-card__image {
  position: relative;
  width: 100%;
  height: 200px;
}
.attraction-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.attraction-card__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: rgba(0, 0, 0, 0.6);
}
.attraction-card__info{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  font-size: 14px;
  color: #757575;
}

/* 平板尺寸: 601~1200px */
@media (max-width: 1200px) {
  .welcomeboard {
    width: 100%;
    padding: 0 20px;
  }
  .attractions__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__logo{
    padding-left: 10px;
  }
  .welcomeboard {
    width: 100%;
    padding: 0 20px;
  }
}

/* 手機尺寸: < 600px */
@media (max-width: 600px) {
  .attractions__grid {
    grid-template-columns: 1fr;
  }
  .header__logo{
    padding-left: 10px;
  }
  .mrt__item{
    min-width: 70px;
    font-size: 14px;
  }
}


/* footer */
.footer {
  height: 100px;
  background: #757575;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}