.thankyou {
  min-height: calc(100vh - 104px); /* header + footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thankyou__container {
  text-align: center;
  color: #666666;
}

.thankyou__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.thankyou__subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.thankyou__number {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.thankyou__hint {
  font-size: 14px;
  font-weight: 400;
}

.tappay-field {
  width: 200px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: #ffffff;
}

.booking_payment_number,
.booking_payment_invaild,
.booking_payment_cvv {
  display: flex;
  align-items: center;
  gap: 10px;
}
